body {
	background: blue;
}

main {
	text-align: center;
}

h1 {
	padding: 50px;
	font-size: 50px;
}

.trigger, .tweet {
	border: 1px;
	border-radius: 5px;
	border-color: white;
	display: block;
	height: 30px;
	width: 150px;
	color: white;
	text-decoration: none;
}